*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #C7B5C9;
    color: white;
   font-family: 'Courier New', Courier, monospace;
   
}

.geral{
    display: flex;
   flex-direction: column;
  justify-content: center;
}

.header{
    background-color: #987F9B;
}

.cont-1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #987F9B; */

}

.cont-1 ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-size: 1.3em;
    
   
}

.cont-1 ul li{
    padding: 15px;
    background-color: #987F9B;
    border-radius: 2px;
}
.cont-1 ul  img{
    height: 100px;
    padding: 15px;
   
}


.cont-1 ul li:hover {

    border-radius: 3px;
  
    background-color: rgba(58, 55, 55, 0.3);
}


.cont-2{
    /* display: flex; */
    padding: 30px;
  

}
.a-2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  
   
    
    /* height: 50%; */
}

.a-2 img {

    margin: 5px;
    border-radius: 5px;
    border: solid 1px #987F9B;
    height: 250px;
}

.cont-3{

    /* display: flex; */
    padding: 80px;

}
.b-2{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.b-2 p{
    padding: 20px 0;
    font-size: 2em; 
  
    
}
.b-2 img{
    /* height: 50%; */
}

.text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
}

@media only screen and (max-width: 760px) {


    .b-2, .text,.cont-1 ul, .cont-2,.cont-3{
        width: 100%;
        flex-direction: column;
        padding: 10px;
        font-size:1em;
    }
  .cont-1 ul li{
    width: 100%;
   text-align: center;
  }
  .cont-3 img{
    width: 100%;
  }

}